<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>{service_display_name}</string>
    <key>CFBundleDisplayName</key>
    <string>{service_display_name}</string>
    <key>CFBundleIdentifier</key>
    <string>{service_bundle_id}</string>
    <key>CFBundleExecutable</key>
    <string>{service_executable_name}</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
</dict>
</plist>
