<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Clash Verge Service</string>
    <key>CFBundleDisplayName</key>
    <string>Clash Verge Service</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.clash-verge-rev.clash-verge-rev.service</string>
    <key>CFBundleExecutable</key>
    <string>clash-verge-service</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
</dict>
</plist>