<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{service_bundle_id}</string>

    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>{app_bundle_id}</string>
    </array>

    <key>MachServices</key>
    <dict>
        <key>{service_bundle_id}</key>
        <true/>
    </dict>

    <key>ProgramArguments</key>
    <array>
        <string>{service_binary_path}</string>
    </array>

    <key>GroupName</key>
    <string>{group_name}</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
