[Unit]
Description=Clash Verge Service helps to launch Clash Core.
After=network-online.target nftables.service iptables.service

[Service]
Type=simple
ExecStart={exec_start}
Group={group}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
