@font-face {
  font-family: 'twemoji mozilla';
  src: url('../fonts/Twemoji.Mozilla.ttf');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/en/JosefinSans-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/en/JosefinSans-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('../fonts/cn/DingTalk JinBuTi.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
